* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

/* @media screen and (max-width: 900px) {
  #err_msg{
    display: block;
  }
}

.err_msg{
  display: none;
  background-color: bisque;
  margin: auto;
  color: red;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  top: 0px;
} */

@media screen and (max-width: 1024px) {
  .menu {
    display: block !important;
  }

  .links {
    display: none;
  }

  .connect-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
}



@media screen and (max-width: 768px) {

  .map {
    max-height: 250px;
    max-width: 250px;
  }

  .card-img {
    height: 100px;
    width: 100px;
  }

  .card-title {
    font-size: 14px;
  }

  ul li {
    font-size: 10px !important;
    padding: 0px !important;
  }

  ul li a {
    padding: 0px !important;
  }

  .heading-alt {
    font-size: 14px !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

.menu {
  display: none;
  padding: 30px;
}

.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pad {
  padding: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

ul li {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
}

ul li a {
  text-decoration: none;
  color: #000000;
  transition: 800ms;
  padding: 10px;
  border-radius: 5px;
}

ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 146, 97);
}

.card-head {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 20px;
  color: #fbbd00;
}

.img {
  width: 100%;
  height: 80%;
}

.cards {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  border: 2px solid gray;
  width: 350px;
  /* padding: 15px; */
  border-radius: 10px;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.card_img {
  position: absolute;
  top: 0px;
  width: 100%;
  margin-top: 0px;
}

.card-title {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
  color: #fbbd00;
}

.card-content {
  font-size: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}

.card_hover {
  transition: 0.5s;
  padding-bottom: 20px;
  position: absolute;
  top: 75%;
  background-color: rgba(1, 32, 48, 0.829);
}

.connect-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.4s;
  width: 40%;
}

.footer {
  width: 100vw;
  margin: auto;
}

.copyright {
  margin: auto;
  width: 50vw;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: start;
}

.heading-alt {
  font-size: 24px;
  text-align: start;
  padding: 20px;
}

.scroll_div {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.scroll_div img {
  min-width: 100%;
  max-height: 100vh;
  transition: transform 1s ease-in-out;
  animation: scroll 15s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(-200%);
  }

  60% {
    transform: translateX(-300%);
  }

  80% {
    transform: translateX(-400%);
  }

  100% {
    transform: translateX(0);
  }
}


.contact-box {

  background: #12192c;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 40px;
  width: 350px;
  color: #fff;
}

.contact-box h2 {
  margin: 0 0 20px;
  text-align: center;
}

.input-box {
  position: relative;
  margin-bottom: 30px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  outline: none;
  resize: none;
  transition: border-color 0.3s ease;
}

.input-box input:focus,
.input-box textarea:focus {
  border-color: #ff9800;
}

.input-box label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #aaa;
  pointer-events: none;
  transition: 0.3s ease;
  padding: 0 5px;
}

.input-box input:not(:placeholder-shown)~label,
.input-box textarea:not(:placeholder-shown)~label,
.input-box input:focus~label,
.input-box textarea:focus~label {
  top: -20px;
  left: 10px;
  color: #ff9800;
  font-size: 12px;
}

.input-box textarea {
  height: 100px;
}

input[type="submit"] {
  background: #ff9800;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s ease;
  width: 106%;
  font-size: 16px;
}

input[type="submit"]:hover {
  background: #e68900;
}