*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1024px) {
    .menu{
        display: block !important;
    }

    .links{
        display: none;
    }
    .connect-sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
    }
}

@media screen and (max-width: 768px) {
    .info-para{
        font-size: 14px !important;
    }

    .logo-img{
        width: 80px;
    }
    .map{
        max-height: 250px;
        max-width: 250px;
    }
    .card{
        max-width: 140px !important;
        height: 250px !important;
    }
    .card-img{
        height: 100px;
        width: 100px;
    }
    .card-title{
        font-size: 14px;
    }
    ul li{
        font-size: 10px !important;
        padding: 0px !important;
    }
    ul li a{
        padding: 0px !important;
    }
    .heading-alt{
        font-size: 14px !important;
    }
}

::-webkit-scrollbar{
    display: none;
}

.menu{
    display: none;
    padding: 30px;
}

.flex-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pad{
    padding: 10px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

ul li{
    list-style-type: none;
    font-size: 25px;
    padding: 10px;

}

ul li a{
    text-decoration: none;
    color: rgb(0, 146, 97);
    transition: 800ms;
    padding: 10px;
    border-radius: 5px;
}

ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 146, 97);
}

.card-head{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.cards{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.card{
    border: 2px solid gray;
    max-width: 240px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px;
    height: 350px;
}

.card-img{
    border: 2px solid gray;
    border-radius: 10px;
    transition: 1000ms;
}

.card-img:hover{
    box-shadow: 3px 3px 10px 1px;

}

.card-title{
    text-align: center;
    padding: 10px;
    color: rgba(7, 138, 0, 0.859);
}

.card-btn{
    border: 2px solid rgb(87, 231, 87);
    background-color: rgb(159, 251, 159);
    color: black;
    border-radius: 30px;
    padding: 4px 8px;
    transition: 600ms;
}

.card-btn:hover{
    padding: 4px 14px;
}

.connect-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 0.4s;
    width: 40%;
}


.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

input {
    border-radius: 5px;
    width: 60%;
    color: gray;
    border: 2px solid rgb(87, 231, 87);
}

textarea {
    border-radius: 5px;
    width: 60%;
    min-height: 170px;
    color: gray;
    border: 2px solid rgb(87, 231, 87);
}


.connect_btn {
    width: 100px;
    padding: 4px 15px;
    font-weight: 600;
    background-color: rgb(156, 255, 204);
    color: rgb(0, 189, 0);
    margin: 5px 5px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid rgb(87, 231, 87);
}

.connect_btn:hover{
    width: 107px;
    transition: 0.2s;
    color: #000000;
    background-color: #0c9200;
}

.footer{
    width: 100vw;
    margin: auto;
}

.copyright{
    margin: auto;
    width: 50vw;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: start;
}

.heading-alt{
    font-size: 24px;
    text-align: start;
    padding: 20px;
}